<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
</head>
<body>
<button id="btnWx">微信授权</button>
<script src="../../js/mui.min.js?v=1.1"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
    //微信授权登录
    btnWx.addEventListener('tap',function(event){
        var wxLogin = oauth2 + "?appid=wx97f93285af090c3e&redirect_uri="+encodeURIComponent(baseURL+"/pages/wxGetCode/wxGetCode.html")+"&scope=snsapi_userinfo&state=STATE";
        window.location.href=wxLogin;
    });
</script>
</body>
</html>